h1 {
  text-align: center;
}
.container {
  border: 1px solid black;
  min-height: 30rem;
  width: 50%;
  align-items: center;
  margin: auto;
}
.head {
  text-align: center;
  padding: 1rem;
}
.inputs {
  text-align: center;
  margin: 1rem 0;
}
.get {
  display: flex;
  justify-content: space-around;
}
